<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
		<class name="de.alpharogroup.dtd.to.xsd.ConverterTest"/>
		<class name="de.alpharogroup.xml.sax.handler.OutputStreamWriterHandlerTest"/>
		<class name="de.alpharogroup.xml.sax.handler.TemplateHandlerTest"/>
		<class name="de.alpharogroup.xml.to.xsd.XmlToXsdExtensionsTest"/>
		<class name="de.alpharogroup.xml.XmlExtensionsTest"/>
		<class name="de.alpharogroup.xml.xpath.XPathExtensionsTest"/>
		<class name="de.alpharogroup.xsd.schema.ValidatorExtensionsTest"/>
		<class name="de.alpharogroup.xsl.transform.XsltTransformerExtensionsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
